<% book.book_comments.each do |comment| %>
  <table>
    <td>
      <%= attachment_image_tag comment.user, :profile_image, :fill, 60, 60, fallback: 'no_image.jpg' %><br>
      <%= link_to comment.user.name, user_path(comment.user_id) %>
    </td>
    <td><%= comment.comment %></td>
    <% if comment.user_id == current_user.id %>
      <td><%= link_to 'Destroy', book_book_comment_path(comment.book,comment), method: :delete, remote: true %></td>
    <% end %>
  </table>
<% end %>
  <div class="comment_form">
    <%=form_with(model:[book, @book_comment], remote: true) do |f| %>
    <%= f.text_area :comment %>
    <%= f.submit '送信' %>
    <% end %>
  </div>