<table class='table'>
  <tr><%= attachment_image_tag(user, :profile_image, :fill, 100, 100, fallback: "no_image.jpg") %></tr>
  <tr>
	  <th>name</th>
	  <th><%= user.name %></th>
  </tr>
  <tr>
	  <th>introduction</th>
	  <th><%= user.introduction %></th>
  </tr>
  <tr>
    <th>follows</th>
    <th><%= link_to user.relationship_followeds.count, users_path %></th>
  </tr>
  <tr>
    <th>followers</th>
    <th><%= link_to user.relationship_followeds.count, users_path %></th>
  </tr>
</table>

<div class='row'>
  <% if user.id == current_user.id %>
    <%= link_to '',edit_user_path(user),class: "btn btn-outline-secondary btn-block fas fa-user-cog edit_user_#{user.id}" %>
  <% else %>
    <% if user.followed_by?(current_user) %>
      <%= link_to 'フォローを外す', user_relationships_path(user), method: :delete %>
    <% else %>
      <%= link_to 'フォローする', user_relationships_path(user), method: :post %>
    <% end %>
  <% end %>
</div>